* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}


/* FONTS */
@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-Regular.woff2') format('woff2'),
      url('../fonts/Outfit-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-Bold.woff2') format('woff2'),
      url('../fonts/Outfit-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



/* CUSTOM PROPS */

:root {
  --dark-navy:rgb(31, 49, 79);
  --grey:rgb(125, 136, 158);
  --light-grey:rgb(213, 225, 239);
}

/* GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing:inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 16px;
  background-color: var(--light-grey);
  color: var(--grey);
  font-family: "Outfit", "Arial", sans-serif;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.19px;
}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* AUTOFILL-STYLES */
/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--heading-color);
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
} */

/* PLACEHOLDER STYLE */
/*
::placeholder {
  color: rgba(52, 49, 61, 0.5);
} */



/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}


/* CARD */
.card {
  width: 320px;
  padding: 16px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
}

.card__link {
  display: block;
  margin-bottom: 24px;
  background-color: rgb(44, 125, 250);
  border-radius: 10px;
}

.card__img {
  border-radius: 10px;
  display: block;
}

.card__title {
  margin-bottom: 16px;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0;
  color: var(--dark-navy);
}

.card__info {
  margin-bottom: 24px;
}



/* RETINA BACKGROUND IMAGES */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}